* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*=============================Sidebar Start=============================*/
.sidebar {
    height: 100vh;
    position: fixed;
    width: 300px;
    transition-duration: 0.5s;
    z-index: 1;
    left: 0px;
    top: 0px;
    font-weight: bold;
    bottom: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-right: 1px solid #D9D9D9;
}

.sidebar:hover {
    overflow-y: auto;
}


.sidebarLogoArea {
	position: fixed;
	z-index: 5;
	margin: 54px 0px 46px;
	text-align: left;
	padding-left: 29px;
	width: 300px;
	border-bottom: 1px solid #D9D9D9;
	padding-bottom: 38px;
}


.sidebarLogoArea .sidebarLogoLink{}
.sidebarLogoArea .sidebarLogoLink .sidebarLogo{}

#check {
    display: none;
}

#bars {
    display: none;
}

label #bars,
label #close {
    position: absolute;
    padding: 15px;
    transition-duration: 0.5s;
    cursor: pointer;
    color: #49C0FF !important;
}

label #bars {
    left: 170px;
    top: 10px;
    position: absolute;
    background: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 26px;
    z-index: 98;
    padding: 10px;
    z-index: 44;
}

label #close {
    top: 18px;
    z-index: 10;
    opacity: 0;
    color: rgb(255, 255, 255);
    position: fixed;
    /* left:190px; */
    left: 180px;
    font-size: 22px;
}

#check:checked ~ .sidebar {
    left: -240px;
}

#check:checked ~ label #bars {
    opacity: 0;
    pointer-events: none;
}

.menu_bar:focus .main_body {
    margin-left: -240px !important;
}

#check:checked ~ label #close {
    position: fixed;
    z-index: 105000;
    opacity: 1;
}

.collapse-item-sidebar li {
    margin-left: -18px;
}


.userImageArea {
    text-align: center;
}

.userImageArea .userImage {
    text-align: center;
    height: 114px;
    width: 114px;
    border-radius: 50%;
}

.userName {
    text-align: center;
}

.sidebar_ul {
    margin-top: 180px !important;
    padding: 18px;
    padding-left: 0;
    padding-right: 0px !important;
}

.listItem {}

.searchForm {}

.formGropu {
    position: relative;
}

.listItem {
    margin-top: 7px;
}

.listItem .navLink {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18px;
}

.listItem .navLink .navIcon {}

.listItem .navLink .navName {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
     letter-spacing: -0.6px;
    color: #000000;
    margin-left: 10px;
    padding: 10px 0px;
}

.hoverIcon {
    display: none;
}

.sidebar_ul .listItem .navLink:hover {
    background: #95E1D3;
    color: #fff;
}

.sidebar_ul .listItem .navLink:hover .navName {
    color: #fff;
}

.sidebar_ul .listItem .navLink:hover .mainIcon {
    display: none;
}

.sidebar_ul .listItem .navLink:hover .hoverIcon {
    display: block;
}

.activeNav {
    background: #95E1D3;
    color: #fff;
}

.activeNav .mainIcon {
    display: none;
}

.activeNav .hoverIcon {
    display: block;
}

.activeNav .navName {
    color: #fff !important;
}





.logoutActiveNav .mainIcon {
    display: none;
}

.logoutActiveNav .hoverIcon {
    display: none;
}
.logoutActiveNav .activeIcon {
    display: block;
}
.logoutActiveNav .navName {
    color: #FF3A30 !important;
}

.sidebar_ul .listItem .navLink:hover .activeIcon {
    display: none;
}
.sidebar_ul .listItem .navLink:hover .logoutText {
    color: #fff !important;
}

.sidebar_ul {
    margin-top: 0px;
    padding: 18px;
    padding-left: 0;
}
.customMargin{
    margin-top: 250px;
}
/*=============================Sidebar End=============================*/
/*==========================Side Bar Responsive==================================*/
@media screen and (max-width: 1300px) {
    #bars {
        display: block;
    }

    .sidebar {
        left: -312px;
    }

    label #bars {
        left: 20px;
    }

    #check:checked ~ .sidebar {
        left: 0px;
    }
}

@media screen and (max-width: 1060px) {
    .msg_noti_user {
        display: none;
    }

    .sidebar {
        overflow: auto;
    }

    .sidebar:hover {
        overflow-y: none;
    }
}

@media screen and (max-width: 720px) {
    label #close {
        left: 180px !important;
    }

    label #bars {
        left: 10px;
    }
}

@media screen and (max-width: 415px) {
    label #bars {
        left: 10px;
        font-size: 16px;
        top: 10px;
    }
}

.main_body {
    margin: 40px;
    margin-top: 0px;
    margin-left: 350px;
}

@media screen and (max-width:1300px) {
    .main_body {
        margin-left: 40px;
    }
}

@media screen and (max-width:991px) {
    label #bars {
        top: 20px;
    }

    .main_body {
        margin-top: 50px;
    }
}
